[Unit]
Description=javaspringboot daemon
After=network.target

[Service]
User=ubuntu
Environment="dbhost=shiv.cyxq3nw89gci.ap-south-1.rds.amazonaws.com"
Environment="database=shiv"
Environment="dbuser=shiv"
Environment="dbpassword=shiv12345"
ExecStart=/usr/bin/java -jar /home/ubuntu/SpringBootDemoProject-0.0.1-SNAPSHOT.jar 

[Install]
WantedBy=multi-user.target
